#
# THIS FILE IS MANAGED BY PUPPET
# <%= file %>
#

# This is the configuration file for /etc/init.d/openvpn

#
# Start only these VPNs automatically via init script.
# Allowed values are "all", "none" or space separated list of
# names of the VPNs. If empty, "all" is assumed.
<% if scope.lookupvar('::lsbdistcodename') != 'squeeze' -%>
# The VPN name refers to the VPN configutation file name.
# i.e. "home" would be /etc/openvpn/home.conf
<% end -%>
#
#AUTOSTART="all"
#AUTOSTART="none"
AUTOSTART="<%= scope.lookupvar('::openvpn::service_name') %>"
#
# Refresh interval (in seconds) of default status files
# located in /var/run/openvpn.$NAME.status
# Defaults to 10, 0 disables status file generation
#
#STATUSREFRESH=10
#STATUSREFRESH=0
# Optional arguments to openvpn's command line
OPTARGS=""
<% if scope.lookupvar('::lsbdistcodename') != 'squeeze' -%>
#
# If you need openvpn running after sendsigs, i.e.
# to let umountnfs work over the vpn, set OMIT_SENDSIGS
# to 1 and include umountnfs as Required-Stop: in openvpn's
# init.d script (remember to run insserv after that)
#
OMIT_SENDSIGS=0
<% end -%>
